a {
	border: none !important;
}

.nav-bar {
	display: flex;
    background: linear-gradient(135deg, #3414be 0%, #7158dc 100%);
    border-radius: 5px;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.125);
    font-weight: 700;
	letter-spacing: 0.1em;
	.nav-title-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		.nav-title {
			width: 125px;
			max-width: 125px;
		}
		@media (max-width: 736px) {
			.nav-title {
				width: 100px;
			}
		}
		@media (max-width: 450px) {
			.nav-title {
				display: none;
			}
			.nav-title-small {
				display: block !important;
				width: 40px;
			}
		}
	}
	.cart-container {
		border: 1px solid #fff;
		.cart {
			padding: 5px;
			ul {
				padding: 0px;
				li {
					list-style: none;
					display: flex;
					.cart-item-remove {
						padding-right: 10px;
						color: red;
						cursor: pointer;
					}
				}
			}
		}
	}
	nav {
		display: flex;
		align-items: center;
		flex-direction: row;
		a {
			align-items: center;
			transition: background-color .2s ease-in-out;
			border-radius: 5px;
			box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.125);
			margin-right: 10px;
			max-height: 80%;
			&:hover {
				transform: scale(1.05);
			}
		}
		button {
			padding: 0 1em;
			align-items: center;
			transition: background-color .2s ease-in-out;
			border-radius: 5px;
			box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.125);
			margin-right: 10px;
			max-height: 80%;
			font-size: 12.8px;
			line-height: 12.8px;
			&:hover {
				transform: scale(1.05);
			}
		}
		img {
			height: 100%;
			border-radius: 25px;
			cursor: pointer;
		}
		@media (max-width: 736px) {
			img {
				height: 75%;
			}
			a {
				box-shadow: none;
			}
			button {
				box-shadow: none;
			}
		}
	}
}

.user-dropdown-container {
	background: linear-gradient(135deg, #3414be 0%, #7158dc 100%);
    border-radius: 5px;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.125);
    font-weight: 700;
	letter-spacing: 0.1em;
	.user-dropdown {
		display: flex;
		align-items: center;
		flex-direction: column;
		a {
			padding: 7px !important;
			box-shadow: none;
			margin: 0px;
		}
	}
	
}

.coffee-text {
	display: flex;
	justify-content: center;
}


.team-wrapper {
	margin: 0 !important;
	padding: 6.5em 0 !important;
}

.btn-purple {
	background: linear-gradient(135deg, #3414be 0%, #7158dc 100%);
	justify-content: center !important;
	padding: 0 3.25 0 3.25em !important;    
	transition: background-color 0.2s ease-in-out;
	background-color: transparent;
	border-radius: 5px;
	border: 0;
	box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.125) !important;
	color: #ffffff !important;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8em;
	font-weight: 700;
	height: 3.75em !important;
	letter-spacing: 0.1em;
	line-height: 3.75em;
	width: 100%;
	max-width: 340px;
	text-align: center;
	i {
		font-size: 20px;
		padding-right: 15px;
	}
	&:hover {
		transform: scale(1.05);
	}
}

.store {
	article {
		.image {
			height: 500px;
			display: flex !important;
			justify-content: center;
			align-items: center;
			img {
				max-height: 500px;
				width: auto !important;
				max-width: 100%;
			}
		}
		.dangerousHTML {
			p {
				margin: 0px;
			}
		}
	}
}